<div class="row">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="card">
            <div class="card-header h4 bg-danger text-white">Nuevo Producto</div>
            <div class="card-body">        
                <div class="card-body">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input id="nombre" class="form-control" type="text" placeholder="Nombre Producto" #nombre>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <input id="descripcion" class="form-control" type="text" placeholder="Descripcion Producto" #descripcion>
                    </div>
                    <div class="form-group">
                        <label for="precio">Precio</label>
                        <input id="precio" class="form-control" type="text" placeholder="Precio Producto" #precio>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="guardar(nombre.value, descripcion.value, precio.value)">Agregar</button>
                </div>
                <div class="card-footer h5 text-right">CodePic</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <div class="card" id="cardLista">
            <div class="card-header h4 bg-primary text-white">Lista Productos</div>
            <div class="card-body table table-responsive">
                <div class="row">                    
                    <app-producto-app *ngFor="let x of productos" [producto]="x"></app-producto-app>
                </div>
            </div>
        </div>
    </div>
</div>
