<app-navbar-app></app-navbar-app>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12">
      <app-nuevo-producto-app></app-nuevo-producto-app>
    </div>
  </div>
</div>
