<div class="card my-2">
    <div class="card-header bg-danger text-white h4">
        {{producto.nombre}}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{producto.descripcion}}</h5>
    </div>
    <div class="card-footer text-right h4">{{producto.precio}}</div>
</div>