<div class="jumbotron">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <h1>Tienda en línea</h1>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-3">
                <h1>Carlos Fonseca</h1>
            </div>
        </div>
    </div>
</div>